{% extends "template.html" %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
            {% if messages %} 
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    <form method="POST" action="{{ url_for('autenticate') }}">
        <input type="hidden" name="next" value="{{ next }}">
        <p><label>Username:</label> <input class="form-control" type="text" name="username" required></p>
        <p><label>Password:</label> <input class="form-control" type="password" name="password" required></p>
        <p><button class="btn btn-primary" type="submit">Entrar</button></p>
    </form>
</div>
{% endblock %} 